* {
    font-family: "Arvo", serif;
}

body {
    overflow-x: hidden;
    margin: 0;
}


/* About Section */

#about {
    width: 100vw;
    padding: 10vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#about-picture {
    width: 25vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
}

#about-picture img{
    width: 25vw;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
}

#about-text {
    background-color: rgb(253, 253, 255);
    width: 45vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;

    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#about-text p {
    font-size: 36px;
}

/* About End */

/* Services Section */

#services {
    position: relative;
    width: 100vw;
    padding: 10vh 0;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3vw;
    justify-content: center;
}

#services-header {
    position: absolute;
    text-align: center;
    width: 100%;
}

.service-card {
    min-width: 400px;
    max-width: 25vw;
    min-height: 300px;
    background-color: gray;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.service-card-header {
    box-sizing: border-box;
    border-bottom: 4px solid gray;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: rgb(61, 58, 58);
    font-weight: bold;
    font-size: 26px;
}

.service-card-content {
    padding: 0 16px;
    font-size: 22px;
}

/* Services End */


/* My Work Section */

#my-work {
    position: relative;
    width: 100vw;
    padding: 10vh 0;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3vw;
    justify-content: center;
}

#my-work-header {
    position: absolute;
    text-align: center;
    width: 100%;
}

.my-work-card {
    width: 25vw;
    min-width: 350px;
    

    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.my-work-img {
    object-fit: cover;
    width: 100%;
}

.my-work-header {
    text-align: center;
    font-size: 26px;
    box-sizing: border-box;
    border-bottom: 4px solid gray;
}

.my-work-header p {
    color: rgb(61, 58, 58);
    font-size: 26px;
    padding: 8px;
    margin: 0;
}

.my-work-description {
    padding: 8px;
}

/* My Work End */

/* Contact Section */

#contact {
    background-color: rgb(0, 102, 255);
    padding: 10vh 0;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

#contact-text {
    width: 25vw;
    padding: 16px;
    font-size: 20px;

    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px 0 0 10px;
}

#contact-text {
    word-wrap: normal;
}

#contact-img {
    width: 35vw;
}

#contact-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Contact End */

#triangle-top{
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 50vh solid rgb(0, 102, 255);
    border-right: 150vw solid transparent;
}

.blue-text {
    background-color: cornflowerblue;
    color: white;
}

.green-text {
    background-color: rebeccapurple;
    color: white;
}