* {
    font-family: "Arvo", serif;
}

body {
    overflow-x: hidden;
    margin: 0;
}


/* About Section */

#about {
    width: 100vw;
    padding: 10vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#about-picture {
    width: 25vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
}

#about-picture img{
    width: 25vw;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
}

#about-text {
    background-color: rgb(253, 253, 255);
    width: 45vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;

    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#about-text p {
    font-size: 36px;
}

/* About End */

/* Services Section */

#services {
    position: relative;
    width: 100vw;
    padding: 10vh 0;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3vw;
    justify-content: center;
}

#services-header {
    position: absolute;
    left: 45vw;
}

.service-card {
    width: 25vw;
    min-height: 300px;
    background-color: gray;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.service-card-header {
    box-sizing: border-box;
    border-bottom: 4px solid gray;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 26px;
}

.service-card-content {
    padding: 0 16px;
    font-size: 22px;
}

/* Services End */


#triangle-top{
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 50vh solid rgb(0, 102, 255);
    border-right: 150vw solid transparent;
}

.blue-text {
    background-color: cornflowerblue;
    color: white;
}

.green-text {
    background-color: rebeccapurple;
    color: white;
}